<h1>Sign Up</h1>
<h2>Be part of the Clubhouse</h2>
<%= form_for(@user, url: signup_path) do |f|%>
  <%= render partial: "errors", locals: {user: @user} %>

  <%= f.label :name %><br>
  <%= f.text_field :name %><br>

  <%= f.label :email %><br>
  <%= f.email_field :email %><br>

  <%= f.label :password %><br>
  <%= f.password_field :password %><br>

  <%= f.label :password_confirmation %><br>
  <%= f.password_field :password_confirmation %><br>

  <%= f.submit%>

<%end%>
